assignment2.txt
[{"id":"2ac686c2.951e92","type":"template","z":"688f80b0.0c83a8","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#flow.time1}}\nTime last server time request received at {{flow.time1}}\n{{/flow.time1}}\n{{#flow.time2}}\nLast random number request returned {{flow.random}}, which was received at {{flow.time2}}\n{{/flow.time2}}\n\n{{^flow.time1}}\nNo server time requests have been received\n{{/flow.time1}}\n\n{{^flow.time2}}\nNo requests for random numbers have been received\n{{/flow.time2}}","output":"str","x":470,"y":180,"wires":[["ab9f46d1.f243b8"]]},{"id":"ba63ffea.eaaf18","type":"function","z":"688f80b0.0c83a8","name":"Time1","func":"var time1=flow.get('time1') || 0\nd= new Date().toLocaleTimeString('en-US', { hour12: false });\ns=d.split(\":\");\n//if (s[0]<10) { s[0]=\"0\"+s[0]}\ntime1=s[0]+\":\"+s[1];\nflow.set('time1',time1);\ntime=time1\nmsg.payload = { time };\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":40,"wires":[["4a6f8474.b1fc14"]]},{"id":"c660b09a.9b03a8","type":"http in","z":"688f80b0.0c83a8","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":70,"y":40,"wires":[["ba63ffea.eaaf18"]]},{"id":"3cea858e.941c22","type":"http response","z":"688f80b0.0c83a8","name":"","x":1030,"y":120,"wires":[]},{"id":"c311cd66.d8356","type":"http in","z":"688f80b0.0c83a8","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":80,"y":120,"wires":[["58895510.c20694"]]},{"id":"4a6f8474.b1fc14","type":"function","z":"688f80b0.0c83a8","name":"setHTTPheader","func":"// If sending JSON data the content type is:\nmsg.headers={\"Content-Type\":\"application/json\"}\n// For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":120,"wires":[["3cea858e.941c22"]]},{"id":"1367b2a5.59e9fd","type":"http in","z":"688f80b0.0c83a8","name":"/page","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":70,"y":180,"wires":[["2ac686c2.951e92"]]},{"id":"58895510.c20694","type":"random","z":"688f80b0.0c83a8","name":"","low":"0","high":"100000","inte":"true","property":"payload","x":220,"y":120,"wires":[["52f656bb.ddd988"]]},{"id":"52f656bb.ddd988","type":"function","z":"688f80b0.0c83a8","name":"Random Msgrandom","func":"//var time2=flow.get('time2') || 0\n//time2 = msg.mytime;\nrandom=msg.payload\nflow.set('random',random);\n//flow.set('time2',time2);\nmsg.payload = { random }\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["66e7c720.cec008"]]},{"id":"66e7c720.cec008","type":"function","z":"688f80b0.0c83a8","name":"Time2","func":"var time2=flow.get('time2') ||0\nd= new Date().toLocaleTimeString('en-US', { hour12: false });\ns=d.split(\":\");\n// if (s[0]<10) { s[0]=\"0\"+s[0]} in case 12hrs set\ntime2=s[0]+\":\"+s[1];\nflow.set('time2',time2);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["4a6f8474.b1fc14"]]},{"id":"ab9f46d1.f243b8","type":"function","z":"688f80b0.0c83a8","name":"setHTTPheader","func":"// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":180,"wires":[["3cea858e.941c22"]]}]
