assignment3.txt
[{"id":"70aeca8a.96bf24","type":"wiotp out","z":"6f4fefe3.ca936","authType":"d","qs":"true","qsDeviceId":"70aeca8a.96bf24","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":670,"y":280,"wires":[]},{"id":"be48a236.d6344","type":"inject","z":"6f4fefe3.ca936","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["ae9683cb.b0afc"]]},{"id":"35b126b6.a3f48a","type":"function","z":"6f4fefe3.ca936","name":"","func":"let tt=msg.payload\nvar t=String(tt);\ntemp=t.split(\"=\");\ngrade=parseFloat(temp[1]);\nmsg.payload={\"d\":{\"temp\":grade}};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["70aeca8a.96bf24"]]},{"id":"ae9683cb.b0afc","type":"exec","z":"6f4fefe3.ca936","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":280,"wires":[["35b126b6.a3f48a"],[],[]]}] 
