assignment1.txt
[{"id":"b92cf657.c5ee2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e61bf0da.2b50c8","type":"random","z":"b92cf657.c5ee2","name":"","low":"0","high":"10","inte":"true","property":"payload","x":280,"y":200,"wires":[["633ae0d5.6f86e"]]},{"id":"38295b0f.3cff1c","type":"debug","z":"b92cf657.c5ee2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":200,"wires":[]},{"id":"5b880bf4.9464fc","type":"inject","z":"b92cf657.c5ee2","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"5","x":110,"y":200,"wires":[["e61bf0da.2b50c8"]]},{"id":"633ae0d5.6f86e","type":"function","z":"b92cf657.c5ee2","name":"Random Msg","func":"str1=[\"Number\"];\nstr2=[\"is a low number\"];\nstr3=[\"is a high number\"];\nn=msg.payload;\nstr4=[n.toString()];\nif (msg.payload < 5) {\n    msg2={\"payload\":str1.concat(str4,str2)};\n} else if (msg.payload >=5){\n    msg2={\"payload\":str1.concat(str4,str3)};\n    }\nreturn msg2;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["38295b0f.3cff1c"]]}]
