Examples_flow
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1"},{"id":"61cd28c4.67bf1","type":"debug","z":"deb0d57.1c46528","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":1050,"y":440,"wires":[]},{"id":"96131214.516d3","type":"debug","z":"deb0d57.1c46528","name":"2nd Output","active":true,"console":"false","complete":"payload","x":1070,"y":520,"wires":[]},{"id":"9a9e30ba.8f23f","type":"debug","z":"deb0d57.1c46528","name":"3rd Output","active":true,"console":"false","complete":"payload","x":1070,"y":600,"wires":[]},{"id":"8f96b5d.7a28ec8","type":"function","z":"deb0d57.1c46528","name":"Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["61cd28c4.67bf1"]]},{"id":"f6c73c3.ffc734","type":"function","z":"deb0d57.1c46528","name":"Array in Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["61cd28c4.67bf1"]]},{"id":"39397a59.1d8f36","type":"function","z":"deb0d57.1c46528","name":"Multiple returns","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n","outputs":"3","noerr":0,"x":520,"y":460,"wires":[["61cd28c4.67bf1"],["96131214.516d3"],["9a9e30ba.8f23f"]]},{"id":"45c103ee.3b5c34","type":"function","z":"deb0d57.1c46528","name":"Multiple returns array in array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [msg2, msg3], msg4];\n","outputs":"3","noerr":0,"x":480,"y":520,"wires":[["61cd28c4.67bf1"],["96131214.516d3"],["9a9e30ba.8f23f"]]},{"id":"3c0991bf.8eb5de","type":"function","z":"deb0d57.1c46528","name":"Create JSON Object","func":"msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["61cd28c4.67bf1","5440365.de3ae48"]]},{"id":"ff6b398e.ec51e","type":"function","z":"deb0d57.1c46528","name":"Create JSON String","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":640,"wires":[["61cd28c4.67bf1","5440365.de3ae48"]]},{"id":"e4328771.431b58","type":"function","z":"deb0d57.1c46528","name":"Create JSON String in msg.payload","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":680,"wires":[["61cd28c4.67bf1","af5d59f2.2aac18"]]},{"id":"dd05e457.fa0d28","type":"function","z":"deb0d57.1c46528","name":"return string in object","func":"return {\"payload\" : \"Hello Coursera\"};","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["61cd28c4.67bf1"]]},{"id":"af5d59f2.2aac18","type":"json","z":"deb0d57.1c46528","name":"","x":690,"y":680,"wires":[["96131214.516d3","5440365.de3ae48"]]},{"id":"5440365.de3ae48","type":"function","z":"deb0d57.1c46528","name":"retrieve data from Object","func":"msg.payload = msg.payload.a.b;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":590,"wires":[["9a9e30ba.8f23f"]]},{"id":"90a98819.d53018","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":340,"wires":[["8f96b5d.7a28ec8"]]},{"id":"fb933abe.3e9cd8","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":210,"y":380,"wires":[["f6c73c3.ffc734"]]},{"id":"7f6efcb8.386c54","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":460,"wires":[["39397a59.1d8f36"]]},{"id":"e6a83c03.98aff8","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":520,"wires":[["45c103ee.3b5c34"]]},{"id":"d5d84f53.ae038","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":210,"y":600,"wires":[["3c0991bf.8eb5de"]]},{"id":"f261052d.0c966","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":210,"y":640,"wires":[["ff6b398e.ec51e"]]},{"id":"769244c2.f9a05c","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":680,"wires":[["e4328771.431b58"]]},{"id":"fe8db1f6.177d68","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":210,"y":240,"wires":[["dd05e457.fa0d28"]]},{"id":"1bf5a693.b64b49","type":"function","z":"deb0d57.1c46528","name":"Status and logging functions","func":"node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 1000);\n        \n    }, 1000);\n    \n}, 1000);\n\nnode.warn(\"Exiting node\");\nreturn;","outputs":1,"noerr":0,"x":480,"y":740,"wires":[["61cd28c4.67bf1"]]},{"id":"18acc5d4.04f672","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":740,"wires":[["1bf5a693.b64b49"]]},{"id":"b7eb1926.9a323","type":"catch","z":"deb0d57.1c46528","name":"Catch node","scope":["1bf5a693.b64b49"],"x":530,"y":780,"wires":[["799b382b.ca0ee"]]},{"id":"c732689c.349bb8","type":"function","z":"deb0d57.1c46528","name":"return string","func":"return 'This is a string';","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["61cd28c4.67bf1"]]},{"id":"f0a95d39.546d2","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":200,"wires":[["c732689c.349bb8"]]},{"id":"799b382b.ca0ee","type":"debug","z":"deb0d57.1c46528","name":"entire msg","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1070,"y":680,"wires":[]},{"id":"4bf328f9.87fb78","type":"function","z":"deb0d57.1c46528","name":"CRC32","func":"var crc=global.get('crc');\nmsg.payload = crc.crc32('Fabioo').toString('16');\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":820,"wires":[["799b382b.ca0ee"]]},{"id":"67d0d39d.e0b1ac","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":820,"wires":[["4bf328f9.87fb78"]]},{"id":"916dabc4.947228","type":"function","z":"deb0d57.1c46528","name":"Many Info 1 Output","func":"return [[\n    { payload: 1 },\n    { payload: [ 2, 3 ] },\n    { payload: 4 }\n]];","outputs":3,"noerr":0,"x":390,"y":100,"wires":[["af4d3862.fa04c"],[],[]],"outputLabels":["Saida 1","Saida 2 ","Saida 3"]},{"id":"6d93e9a8.517ec","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":100,"wires":[["916dabc4.947228"]]},{"id":"af4d3862.fa04c","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":610,"y":100,"wires":[]},{"id":"827e63c.a99902","type":"random","z":"deb0d57.1c46528","name":"","low":"0","high":"10","inte":"true","property":"payload","x":400,"y":880,"wires":[["1fb97f91.f4a6d8"]]},{"id":"261499e6.f41cb6","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":880,"wires":[]},{"id":"41ffeccd.26f3d4","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":220,"y":880,"wires":[["827e63c.a99902"]]},{"id":"1fb97f91.f4a6d8","type":"function","z":"deb0d57.1c46528","name":"Random Msg","func":"str1=[\"Number\"];\nstr2=[\"is a low number\"];\nstr3=[\"is a high number\"];\nstr4=[msg.payload.toString()];\nif (msg.payload < 5) {\n   msg2={\"payload\":str1.concat(str4,str2)};\n} else if (msg.payload >=5){\n    msg2={\"payload\":str1.concat(str4,str3)};\n    }\nreturn msg2;","outputs":1,"noerr":0,"x":600,"y":880,"wires":[["261499e6.f41cb6"]]},{"id":"99d0c071.5dcda8","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":960,"wires":[["a13a8f0f.da9d18"]]},{"id":"a13a8f0f.da9d18","type":"function","z":"deb0d57.1c46528","name":"Context Object 1","func":"var count=context.get('count') || 0;\ncount += 1;\nmsg.payload=\"F1 \"+msg.payload+\" \"+count;\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":960,"wires":[["c4d4ab75.685eb"]]},{"id":"c4d4ab75.685eb","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":960,"wires":[]},{"id":"a9a2bc60.e232d8","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1020,"wires":[["bd2eaa16.fcbea8"]]},{"id":"bd2eaa16.fcbea8","type":"function","z":"deb0d57.1c46528","name":"Context Object 2","func":"var count=context.get('count') || 0;\ncount += 1;\nmsg.payload=\"F2\"+msg.payload+\"\"+count;\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1020,"wires":[["4612a783.b3839"]]},{"id":"4612a783.b3839","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1020,"wires":[]},{"id":"83538990.cf2c3","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1080,"wires":[["7cbb0750.3e9ee8"]]},{"id":"7cbb0750.3e9ee8","type":"function","z":"deb0d57.1c46528","name":"Flow Object","func":"// var count=context.get('count') || 0;\nvar count = flow.get('count') || 0 ;\ncount += 1;\nmsg.payload=\"F5 \"+msg.payload+\" \"+count;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1080,"wires":[["3182b4be.845ea4"]]},{"id":"3182b4be.845ea4","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1080,"wires":[]},{"id":"1be78d3a.24ce3b","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1140,"wires":[["45c83cdb.a8b6ec"]]},{"id":"45c83cdb.a8b6ec","type":"function","z":"deb0d57.1c46528","name":"Flow Object 2","func":"// var count=context.get('count') || 0;\nvar count = flow.get('count') || 0 ;\ncount += 2;\nmsg.payload=\"F6 \"+msg.payload+\" \"+count;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1140,"wires":[["860aabc5.aafe5"]]},{"id":"860aabc5.aafe5","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1140,"wires":[]},{"id":"d26e59ba.32afe","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1200,"wires":[["aac5dd01.e5ea6"]]},{"id":"aac5dd01.e5ea6","type":"function","z":"deb0d57.1c46528","name":"Global Object","func":"// var count=context.get('count') || 0;\nvar count = flow.get('count') || 0 ;\nvar gcount = global.get('count') || 0;\ncount += 1;\nmsg.payload=\"F10 \"+\" flow= \"+count+\" global = \"+ gcount;\nflow.set('count',count);\nglobal.set('count',gcount);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1200,"wires":[["6bd3bf9b.34aa98"]]},{"id":"6bd3bf9b.34aa98","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":1200,"wires":[]}] 
